* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 0;
  margin: 0;
  padding: 0;

  --size-abs: 442px;
  --size-cell: 40px;
}

main {
  margin: auto;
  margin-top: 50px;
  width: var(--size-abs);
  height: var(--size-abs);
  border: 1px solid gray;

  display: grid;
  grid-template-columns: var(--size-cell) 1fr;
}

.empty {
  background-color: black;
}

.name-div {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.n-cell {
  display: grid;
  height: var(--size-cell);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 1px solid gray;
}

.ship-div {
  padding: 1px;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  gap: 2px;
  background:
    repeating-linear-gradient(gray 0 1px, transparent 1px 40px),
    repeating-linear-gradient(to right, gray 0 1px, transparent 1px 40px);
}


.ship{
  border: 1px solid rgb(0, 0, 0);
}

.ship-1 {
  grid-area: 1/3/1/1;
  background-color: blueviolet;
}
.ship-2 {
  grid-area: 3/11/5/10;
  background-color: blueviolet;
}
.ship-3 {
  grid-area: 6/6/8/7;
  background-color: blueviolet;
}
.ship-4 {
  grid-area: 8/3/9/1;
  background-color: blueviolet;
}
.ship-5 {
  grid-area: 1/5/4/4;
  background-color: #00ff00;
}
.ship-6 {
  grid-area: 3/-3/4/6;
  background-color: #00ff00;
}
.ship-7 {
  grid-area: 6/-1/-3/-2;
  background-color: #00ff00;
}
.ship-8 {
  grid-area: 1/-1/2/-5;
  background-color: #0000ff;
}
.ship-9 {
  grid-area: 3/2/7/1;
  background-color: #0000ff;
}
.ship-10 {
  grid-area: -2/-1/-1/5;
  background-color: red;
}
